---
layout: common
---
.row
  .large-4.columns
    h1 Patrik Duditš
  .large-8.columns
    h1
      small Development Blog

.row
  .large-4.columns#intro
    p#about-me
      | Patrik is Java architect currently focused at Java EE 6/7 located in Košice, Slovakia.
      
      a href="about.html" 
       strong  >&nbsp;
       | More about Patrik

    p#about-site These are my notes from my professional and hobby programming adventures.

  .large-8.columns#last-post
    .panel
      - post = site.posts.first
      h4
        a href=post.url #{post.title}
      p
        small Posted on #{post.date}
      h5.subheader.clearfix
        =post.content[/<p>(.+?)<\/p>/,1]
        a.right href="#{post.url}" Read more
.row
  - for post in site.posts[1..3]
    .large-4.columns
      h5
        a href=post.url = post.title
      p
        small Posted on #{post.date}
      p.subheader.clearfix 
        =post.content[/<p>(.+?)<\/p>/,1]
        a.tiny.radius.secondary.right href=post.url
          small Read>