extends base.jade

block body
  .row
    .large-4.columns
      h1 Patrik Duditš
    .large-8.columns
      h1: small Development Blog

  .row
    .large-4.columns#intro
      p#about-me
        | Patrik is Java architect currently focused at Java EE 6/7 located in Košice, Slovakia.
        | 
        
        a(href="about.html")
          strong >&nbsp;
          | More about Patrik

      p#about-site These are my notes from my professional and hobby programming adventures.

    .large-8.columns#last-post
      .panel
        +entry(published_posts[0])(large=true)

  .row
    for post in published_posts.subList(1,4)
      .large-4.columns
        +entry(post)(read_class="tiny secondary right", read_text="<small>Read&gt;</small>")
    if size(published_posts) > 4
      .row
        .small-8.small-centered.columns.text-center
          a.button.small href="posts/"
            See more posts





